/** general **/
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        position: relative;
        min-height: 100%;
        font: normal 1em 'fira_sanslight';
        color: #fff;
    }

    body {
        margin: 0 0 80px;
        height: 100%;
        background: url(../img/pattern.png) repeat;
        color: #4a545d;
    }

    .page-wrapper {
        overflow: hidden;
        height: auto!important;
        min-width: 970px;
        min-height: 100%;
    }

    .container {
        min-width: 960px;
        max-width: 960px;
        margin: 0 auto;
    }

    .container--big {
        min-width: 960px;
        max-width: 1200px;
        height: 100%;
    }

    /** clearfix **/
        .container:before, .cf:before,
        .container:after, .cf:after {
            content:"";
            display:table;
        }

        .container:after, .cf:after {
            clear:both;
        }
        .cf {
            *zoom:1; /** For IE 6/7 (trigger hasLayout)*/
        }
    /** end clearfix **/

    /** gradient line setup **/
        .gradient_line {
            -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(28,102,122,1) 50%, rgba(255,255,255,0) 100%);
            -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(28,102,122,1) 50%,rgba(255,255,255,0) 100%);
            -o-border-image: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(28,102,122,1) 50%,rgba(255,255,255,0) 100%);
            border-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(28,102,122,1) 50%,rgba(255,255,255,0) 100%);
        }

        .gradient_line--bottom {
            border-bottom: 3px solid #1c667a;
            border-top: 0;
            border-image-slice: 1;
        }

        .gradient_line--top {
            border-bottom: 0;
            border-top: 3px solid #1c667a;
            border-image-slice: 1;
        }
    /** end gradient line setup **/

    /** forms **/

        .form {
            font-family: "fira_sanslight", sans-serif;
            font-weight: normal;
        }

        .form__row.cf {
            margin: 0 0 9px 0;
        }

        .form__col {
            float: left;
            padding: 0 2px;
        }

        .form__col--full {
            width: 100%;
        }

        .form__col--left {
            padding: 0 9px 0 0;
            width: 50%;
        
        }

        .form__col--right {
            padding: 0 0 0 9px;
            width: 50%;

        }

        .form__col--full--centered {
            text-align: center;
        }

        .form__label {
            color: #959aa8;
            font-size: 17px;
        
}

        .form__item {
            width: 100%;
            outline: 0;
            border: 1px solid #48cbe8;
            border-radius: 3px;
            color: #48cbe8;
            font-size: 12px;
            padding: 0 9px;
        }

        .form__item--input {
            height: 41px;
        }

        .form__item--input--hidden {
            display: none;
        }

        .form__button {
            color: #fff;
            height: 30px;
            outline: 0;
            padding: 0px 28px;
            font: normal 19px "fira_sansbook";
            line-height: 33px;
            border: none;
            border-radius: 4px;
            margin: 5px 0;
            background-color: #48cbe8;
            box-shadow: 0 2px #3ba8c0;
            top: 0;
            transition: top 100ms linear, box-shadow 100ms linear;
            -webkit-transition: top 100ms linear, box-shadow 100ms linear;
            position: relative;
        }

        .form__button:hover {
            box-shadow: 0 0 #3ba8c0;
            top: 2px;
        }

        .form__item--textarea {
            height: 180px;
            padding: 9px;
        }

        .form__item--textarea--in-popup {
            height: 110px;
        }

        /** placeholder color **/
            ::-webkit-input-placeholder {
                color: #48cbe8;
            }

            :-moz-placeholder { /* Firefox 18- */
                color: #48cbe8;
            }

            ::-moz-placeholder {  /* Firefox 19+ */
                color: #48cbe8;
            }

            :-ms-input-placeholder {
                color: #48cbe8;
            }

            .jquery-fix-placeholder { color: #48cbe8 }
        /** end placeholder color **/
    /** end forms **/
/** end general **/

/** header **/
    .header {
        height: 119px;
        background-color: #eff3f7;
        margin-bottom: 39px;
    }

    .header__logo {
        float: left;
        margin-top: 39px;
    }
    /** social icons **/
        .header .social {
            margin-top: 36px;
            float: right;
        }

        .social .social__link:first-child {
            margin-left: 0;
        }

        .social .social__link {
            fill: red !important;
            display: inline-block;
            height: 47px;
            width: 47px;
            margin-left: 19px;
            font-size: 0;
        }

        /** fix normalize.css for svg animation **/
            .social__link svg {
                overflow: visible
            }
        /** end fix **/

        .social__link:hover svg path{
            fill: #68A8BD;
            -ms-transform: translateY(-20px);
            -webkit-transform: translateY(-20px);
            -o-transform: translateY(-20px);
            -moz-transform: translateY(-20px);
            transform: translateY(-20px);

            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        .social__link svg path{
            transition: 300ms ease-in-out;
            -webkit-transition: 300ms ease-in-out;
        }
    /** end social icons **/

/** end header **/


/** footer **/
    .page-footer {
        min-width: 970px;
        background-color: #eff3f7;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 80px;
        width: 100%;
    }


    .lock {
        margin-left: 26px;
        float: left;
    }
    
    .copyright {
        margin: 0 180px;
        padding-top: 7px;
        font-size: 13px;
        text-align: center;
    }
    
    .page-footer .container {
        padding-top: 23px;
    }
    
    .lock .lock__link {
        color: #4a545d;
        padding-left: 24px;
        line-height: 2.2;
        font-size: 16px;
        font-family: 'fira_sansbook', sans-serif;
        display: block;
        height: 40px;
        background: url(../img/lock-close.png) no-repeat;
        text-decoration: none;
    }
    
    .lock .lock__link:hover {
        text-decoration: underline;
        background: url(../img/lock-open.png) no-repeat;
    }

/** end footer **/

/** sidebar **/
    .sidebar {
        float: left;
        width: 250px;
    }
    
    /** main nav **/
        .s-navigation {
            background-color: #eff3f7;
            overflow: hidden;
            margin-bottom: 26px;
            border-radius: 5px;
        }

        .s-menu {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .s-menu__item {
            margin: 0 11px;
            border-top: solid 2px #3ba8c0;
            min-height: 73px;
        }

        .s-menu__item:first-child {
            border-top: none;
        }

        .s-menu__item--active {
            padding-left: 11px;
            background-color: #3ba8c0;
            margin: 0 0 -2px;
        }

        .s-menu__item__link {
            display: block;
            font-family: 'fira_sansbook', sans-serif;
            text-decoration: none;
            color: #959aa8;
            margin-left: 16px;
            padding: 20px 0;
            font-size: 20px;
        }

        .s-menu__item__link:hover {
            color: #3ba8c0;
        }

        .s-menu__item--active .s-menu__item__link {
            color: #f9fafb;
            font-size: 22px;
        }
    /** end main nav **/

    /** contacts **/
        .s-contacts__header {
            height: 40px;
            font: normal 21px/1 "fira_sansbook";
            padding: 13px 0 0 20px;
        }

        .s-contacts__list {
            list-style: none;
            margin: 0;
            padding: 0;
            border-radius: 4px;
            background: #3ba8c0;
            background: -moz-linear-gradient(top, #3ba8c0 0%, #3ba8c0 24%, #41b9d4 25%, #41b9d4 49%, #48cbe8 50%, #48cbe8 74%, #51daf8 75%, #51daf8 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3ba8c0), color-stop(24%, #3ba8c0), color-stop(25%, #41b9d4), color-stop(49%, #41b9d4), color-stop(50%, #48cbe8), color-stop(74%, #48cbe8), color-stop(75%, #51daf8), color-stop(100%, #51daf8));
            background: -webkit-linear-gradient(top, #3ba8c0 0%, #3ba8c0 24%, #41b9d4 25%, #41b9d4 49%, #48cbe8 50%, #48cbe8 74%, #51daf8 75%, #51daf8 100%);
            background: -o-linear-gradient(top, #3ba8c0 0%, #3ba8c0 24%, #41b9d4 25%, #41b9d4 49%, #48cbe8 50%, #48cbe8 74%, #51daf8 75%, #51daf8 100%);
            background: -ms-linear-gradient(top, #3ba8c0 0%, #3ba8c0 24%, #41b9d4 25%, #41b9d4 49%, #48cbe8 50%, #48cbe8 74%, #51daf8 75%, #51daf8 100%);
            background: linear-gradient(to bottom, #3ba8c0 0%, #3ba8c0 24%, #41b9d4 25%, #41b9d4 49%, #48cbe8 50%, #48cbe8 74%, #51daf8 75%, #51daf8 100%);
            color: #fff;
        }

        .s-contacts__item {
            padding-top: 7px;
            margin-left: 42px;
            height: 40px;
            padding-left: 42px;
        }

        .icon {
            background: no-repeat 0;
            display: block;
        }

        .icon--mail {
            background-image: url(../img/mail.png);
        }

        .icon--skype{
             background-image: url(../img/skype.png);
        }

        .icon--tel{
            background-image: url(../img/phone.png);
        }

        .s-contacts__item__link {
            height: 24px;
            color: #fff;
            text-decoration: none;
            font: normal 15px/20px "fira_sansbook";
        }

        .s-contacts__item__link:hover {
            border-bottom: 1px solid #fff;
        }
    /** contacts **/

/** end sidebar **/

/** variable **/
    .var-content {
        width: 650px;
        float: right;
    }

    .v-block {
        background-color: #eff3f7;
        border-radius: 5px;
        margin-bottom: 25px;
    }

    .v-block__header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #3ba8c0;
        border-bottom: 2px solid #3ba8c0 ;
        font-family: 'fira_sansbook', sans-serif;
        font-size: 27px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 13px 21px;
        display: inline-block;
    }

    .v-block__header--blue-background {
        margin: 1px 0;
        background-color: #48cbe8;
        display: block;
        color: #fff;
        border-bottom: 17px solid #67dffa;
        text-align: center;
        font: normal 27px "fira_sansbook";
    
        padding: 42px 0 36px 0;
}

    .v-block__content {
        padding-bottom: 30px;
    }

    /** info **/
        .avatar {
            margin: 17px 0 0 57px;
            float: left;
            width: 147px;
            height: 146px;
            border: 5px solid #3ba8c0;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }

        .v-info {
            margin: 0;
            list-style: none;
            float: right;
            display: block;
            width: 421px;
            padding: 0;
        }

        .v-info__item {
            margin-bottom: 8px;
            height: 100%;
        }

        .avatar__img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }

        .v-info__item--left {
            float: left;
            font: normal 16px "fira_sansmedium";
        }

        .v-info__item--right {
            overflow: hidden;
            font: normal 15px "fira_sansbook";
            max-width: 218px;
            float: left;
            margin-left: 25px;
        }

        .skill {
            line-height: 1.3;
            padding: 0 14px 0 14px;
            height: 18px;
            border-radius: 4px;
            display: inline-block;
            margin: 6px 0 5px 4px;
            color: #fff;
            font-family: 'ProximaNovaCondensedSemibold', monospace;
            background: #3ba8c0;
            background: -moz-linear-gradient(top, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3ba8c0), color-stop(49%, #3ba8c0), color-stop(50%, #2e8ca2), color-stop(100%, #2e8ca2));
            background: -webkit-linear-gradient(top, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 100%);
            background: -o-linear-gradient(top, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 100%);
            background: -ms-linear-gradient(top, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 100%);
            background: linear-gradient(to bottom, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 100%);
        }
    /** end info **/

    /** var list **/
        .v_list {
            margin: 0;
            list-style: none;

            padding: 0 0 0 55px;
        }

        .icon-work {
            background-image: url(../img/portfel.png);
        }

        .v_list__item {
            padding: 0 0 0 70px;
            margin: 0 0 20px 0;
        }

        .v_list__date {
            font: normal 15px "fira_sanslight";
        }

        .v_list__header {
            font: normal 16px "fira_sansbook";
        }

        .icon-edu {
            background-position-x: 5px;
            background-image: url(../img/course.png);

}

        .icon-dop {
            background-position-x: 0px;
            background-image: url(../img/college.png);
        }
    /** var list **/

/** end variable **/
